<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Two numbers calc functions</title>
  </head>
  <body>
    <h1>Two numbers calculations</h1>
    <div class="data">
      1st Number : <input type="number" [(ngModel)]="firstNumber" /><br />
      2nd Number : <input type="number" [(ngModel)]="secondNumber" /><br />
      <button (click)="clear()">Clear</button>
    </div>
    <div class="operations">
      <app-addc
        class="each-operation"
        [val1]="firstNumber"
        [val2]="secondNumber"
      ></app-addc>
      <app-multiply
        class="each-operation"
        [val1]="firstNumber"
        [val2]="secondNumber"
      ></app-multiply>
      <app-division
        class="each-operation"
        [val1]="firstNumber"
        [val2]="secondNumber"
      ></app-division>
      <app-substraction
        class="each-operation"
        [val1]="firstNumber"
        [val2]="secondNumber"
      ></app-substraction>
    </div>
    <!-- <div class="operations">
      <div class="each-operation">
        <button (click)="addFunction()" value="Add">Add</button>

        Sum:{{ addResult }}
      </div>
      <div class="each-operation">
        <button (click)="multiplicationFunction()" value="Multiply">
          Multiply
        </button>
        Multiplication of two numbers:{{ multiplyResult }}
      </div>
      <div class="each-operation">
        <button (click)="divisionFunction()" value="Division">Division</button>
        Division of two numbers:{{ divisionResult }}
      </div>
      <div class="each-operation">
        <button (click)="substractionFunction()" value="Substraction">
          Substraction
        </button>
        Substraction of two numbers:{{ substractionResult }}
      </div> -->
  </body>
</html>
